/* Traemos las fuentes de nuestro servidor usaremos Marcellus y Roboto */

@font-face {
    font-family: "Marcellus";
    src: url("../fonts/Marcellus-Regular.woff2") format("woff2"),
        url("../fonts/Marcellus-Regular.woff") format("woff"),
        url("../fonts/Marcellus-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff"),
        url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Establecemos unos minimos para poder gestionar posteriormente los elementos más cómodamente*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Definimos unos colores que nos permitan combinar para mejorar la accesibilidad, también definimos el ancho de página */
:root {
    --width_xl: 1000px;
    --primary_color: #006400;
    --text_color: white;
    --enfasis_color: #7D8007;
    --contact_color: #545454;
}

/* Ayuda a definir estructura y distribución de los elementos, comentar cuando ya no sea necesario */
/* div {
  border: 2px solid black;
} */

/* Establecemos valores a los titulos, fuente, tamaño y ubicación*/
h1,
h2 {
    font-family: Marcellus, Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}


/* Definimos el menú de navegación */
nav {
    /* Color de fondo */
    background-color: var(--primary_color);
    /* Ancho del menú */
    div {
        max-width: var(--width_xl);
        margin: 0 auto;
        /* Establecemos la disposición de las entradas del menú */
        ul {
            display: flex;
            justify-content: space-around;
        }
    }
    /* Estilo de la lista fuera para que no se vea feo y los colores y parametros para el hover y el focus*/
    li {
        padding: 1rem;
        list-style: none;
        &:hover {
            background-color: var(--enfasis_color);
        }
        :focus {
            background-color: var(--enfasis_color);
        }
    }
    a {
        /* Fuera la decoración de los enlaces, tamaño de letra más grande y color de texto, además del comportamiento para el hover */
        text-decoration: none;
        font-size: 1rem;
        color: var(--text_color);
        &:hover {
            border-bottom: 3px solid var(--text_color);
        }
    }
}

/* Gestión del enlace oculto o skip-link oculto al cargar ... */
#skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    overflow: hidden;
}
/* ... y mostrándolo cuando adquiere el foco */
#skip-link:focus {
    position: absolute;
    left: 1.5rem;
    top: 0;
    padding: 0.8rem;
    text-decoration:underline;
    background-color: var(--primary_color);
    color: var(--text_color);
    border: 2px solid var(--primary_color);
}

/* Estructura de la sección de inicio */
.inicio {
    /* Ubicación del título */
    h2 {
        text-align: center;
    }
    /* Tamaño de la sección y ubicación de la imágen */
    div {
        width: var(--width_xl);
        margin: 0 auto;
        img {
            width: 100%;
            margin: 0 auto;
        }
    }
}

/* Estructura de las secciones siguientes */
.secciones {
    div {
        /* Tamaño y comportamiento del contenido global de la sección */
        width: var(--width_xl);
        padding: 10px 0;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        div {
            /* Comportamiento del contenido de texto de la sección */
            display: flex;
            flex-direction: column;
            a {
                text-align: right;
            }
        }
        ul {
            padding: 10px;
        }
        /* Comportamiento de la imágen */
        img {
            margin: 0 auto;
        }

    }
}

/* Eliminamos los estilos de la lista del restaurante */
.restaurante_seccion {
    li {
        list-style: none;
    }
}

/* Estructura de la sección de contacto */
.contactar {
    /* Color de fondo y del texto */
    background-color: var(--contact_color);
    color: var(--text_color);
    /* Ubicación del título */
    h2 {
        text-align: center;
        padding: 5px;
    }
    /* Vamos a ordenar el formulario */
    form {
        /* Ancho y comportamiento de los contenedores principales */
        width: var(--width_xl);
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        /* A ver si alineamos el enlace de Volver al inicio */
        div {
            div {
                text-align: right;
                padding: 0.8rem;
                a {
                    font-size: 1rem;
                    color: var(--text_color);
                }
            }
        } 
        /* Tamaño del boton, colores y margenes */
        button {
            width: 24rem;
            height: 2rem;
            margin: 0.5rem;
            color: var(--text_color);
            background-color: var(--primary_color);
        }
        /* Estructura de los fieldset, tamaño y organización de los elementos del formulario */
        fieldset{
            height: 280px;
            legend{
                padding-left: 0.5rem;
            }
            label {
                display: block;
                padding: 0.5rem;
            }
            input {
                margin: 0.5rem;
                width: 380px;
                height: 2rem;
            }
            /* Se me hace raro un formulario de contacto que solo puedas reservar */
            div {
                display: flex;
                align-items: center;
                padding: 5px;
                input {
                    margin: 0.5rem;
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}

/* Vamos a definir el pie de página */
footer {
    /* Color de fondo, ancho y distribución de elementos, establecemos una clase para facilitarnos las cosas */
    background-color: var(--primary_color);
    .pie_pagina {
        margin: 0 auto;
        max-width: var(--width_xl);
        display: flex;
        justify-content: space-between;
    }
    /* Tamaño de los h2 */
    h2 {
        padding: 0.5rem;
        font-size: 1.25rem;
        color: var(--text_color);
    }
    /* Estilo y distribución de las listas, quitando los puntos */
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    li {
        /* Damos margenes para que sea más legible */
        padding: 0.5rem;
    }
    a {
        /* Quitamos la decoración de los enlaces, establecemos el tamño y el color */
        text-decoration: none;
        font-size: 1rem;
        color: var(--text_color);
    }
    /* tamaños para los iconos de Android, Apple y RRSS */
    .apps {
        img {
            width: 125px;
        }
    }
    .links_rrss {
        img {
            width: 25px;
        }
    }
    
}

/* Esta clase nos permite ocultar los textos que utilizará el lector de contenido, pero necesarios */
.text_hidden {
    display:none;
}
